libracoreTimeTracker/libracoreTimeTracker/config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="config"
    targetNamespace="https://libracore.com/xml/ERPNextSharp/config.xsd"
    elementFormDefault="qualified"
    xmlns="https://libracore.com/xml/ERPNextSharp/config.xsd"
    xmlns:mstns="https://libracore.com/xml/ERPNextSharp/config.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

  <xs:element name="Configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Server" type="xs:string" />
        <xs:element name="Username" type="xs:string" />
        <xs:element name="Password" type="xs:string" />
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
